/******************* 通用样式（头部、导航栏、底部、页脚和右边上下两个模块）*********************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,dd,dt{
    color:#222;
}
dd,dt{
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2vw;
}
p,a{
    color:#222;
    font-size: 1.0vw;
    font-weight:500;
}
a{
    text-decoration: none;
}
body{
    font-family: "Microsoft YaHei";
    background: #E2E1E1;
}
/*********** 头部 **********/
.head{
    height:300px;
    box-shadow: 6px 6px 7px #C4C1C1;
}
/*********** END ：头部**********/
/*************** 导航条 **************/
.main-nav{
    background-color: #fff;
    border-bottom: 2px solid #DDDADA;
    border-top:1px solid #D5D1D1;
    box-shadow: 0px 0px 10px #666;
}
.container .collapse ul{
    margin:0;
    padding:0;
    text-align: center;
}
.container .collapse .nav-menu > li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.container .collapse .nav-menu li a{
    text-decoration: none;
    font-size: 1.2vw;
    transition:color .15s linear 0.05s;
}
/*鼠标聚焦事件*/
.container .collapse .nav-menu li:hover>a,
.container .collapse .nav-menu li:focus>a{
    text-decoration: none;
    color:#F3726D;
}
/*end：鼠标聚焦事件*/
/*********** END ：导航条***********/
.sec-1{
    margin-bottom: 100px;
}
/******** 右边的三个小模块 ********/
/*模块一：社区*/
.right-1{
    margin-top: 100px;
    background-color: #fff;
    padding:25px 35px;
    box-shadow: 6px 6px 7px #C4C1C1;
}
p.wechat{
    padding-top: 10px;
}
.right-1-content button{
    float:right;
}
/*二维码*/
.right-1-content img{
    height:70px;
    width:70px;
}
/*end*/
/*模态框二维码*/
.modal-content .modal-con-img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    width:100%;
}
/*end*/
p.message-board a{
    color:#EF7C78;
}
p.message-board span{
    padding-left: 8px;
    color:#EF7C78;
}
/*end：社区*/
/*模块二：下载*/
.right-2{
    margin-top: 50px;
    background-color: #fff;
    padding:25px 35px;
    box-shadow: 6px 6px 7px #C4C1C1;
}
/*end：下载*/
/*模块三：标签云*/
.right-3{
    margin-top: 50px;
    background-color: #fff;
    padding:25px 35px;
    box-shadow: 6px 6px 7px #C4C1C1;
}
.right-3 .right-3-content{
    padding-top: 20px;
}
.right-3 .right-3-content a{
    border:1px solid #E1DEDE;
    display: inline-block;
    padding:2px 6px;
    margin: 0 7px 7px 0;
    border-radius: .3em;
}
.right-3 .right-3-content a:hover,
.right-3 .right-3-content a:focus{
    text-decoration: none;
    color: #fff;
    background-color: #EF7C78;
    box-shadow: 12px 12px 12px #C4C1C1;
}
/*end：标签云*/
/*三个模块的标题*/
.right-1 .title,
.right-2 .title,
.right-3 .title{
    font-size: 1.5vw;
    color:#222;
    position:relative;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.right-1 .title:after,
.right-2 .title:after,
.right-3 .title:after{
    content:"";
    width:130px;
    left:0;
    top:42px;
    height:2px;
    background-color:#EF7C78;
    position:absolute;
}
/*end*/
/************* END：右边三个小模块***********/
/*********** 底部（负责人、中科曙光、友情链接）***********/
.main-foot{
    background-color:#F3726D;
    box-shadow: 0px -3px 10px #777;
}
.widget{
    height:300px;
    margin-right:0;
    /*margin-left: 50px;*/
}
.widget-1{
    background-color: #E9635E;
    box-shadow: -5px 0px 10px #666;
}
.widget-2{
    background-color: #E9635E;
    box-shadow: -5px 0px 10px #666;
    box-shadow: 5px 0px 10px #666;
}
.widget-3{
    background-color: #E9635E;
    box-shadow: 5px 0px 10px #666;
}
/*标题*/
.widget .foot-title{
    color:#222;
    font-size: 1.5vw;
    margin: 50px 0 20px;
    padding:20px 0;
    position:relative;
}
.widget .foot-title:after{
    content:"";
    position:absolute;
    height:2px;
    margin-top: 51px;
    left:0;
    background-color:#434645;
    width:40%;
}
/*end*/
/*链接*/
.widget .widget-label{
    /*width:80%;*/
    margin-left: 20px;
    padding:15px 0 30px;
}
.root-content > a,
.widget .widget-label > a,
.widget .widget-label > p > span{
    padding:2px 4px;
    margin:5px 7px;
}
.root-content > a,
.widget .widget-label > a{
    display:inline-block;
}
/*链接聚焦事件*/
.root-content > a:hover,
.root-content > a:focus,
.widget .widget-label > a:hover,
.widget .widget-label > a:focus{
    text-decoration: none;
    background-color: #2F3130;
    color:#fff;
    cursor:pointer;
    box-shadow: 6px 6px 7px #444745;
}
/*end*/
/**************** END:底部 ***************/
/**************** 页脚 **************/
.root{
    height:100px;
    background-color:#D25B56;
    box-shadow: 0px -3px 15px #666;
}
.root-content{
    padding-top: 30px;
    text-align: center;
}
/********* END：页脚******/
/*1480px分辨率兼容*/
    @media screen and (min-width:1200px) and (max-width:1500px){
        .right-1-content img{
            height:55px;
            width:55px;
        }
}
/*1024px分辨率兼容*/
@media screen and (max-width: 1200px){
    .right-1-content img{
        height:45px;
        width:45px;
    }
}/*end */
/************************ END:通用样式 **********************/
/******************** 主页面（mainView.html） *****************/
/************* 新闻 *************/
.news-flow--section {
    position:relative;
    margin-top: 50px;
    width:100%;
}

.news-flow--container {
    max-width:100%;
    margin:0 auto;
    padding:0 0;
}

.news-flow--content {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}

.news-flow--content{
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    justify-content:center
}

.news {
    width:100%;
    margin-top:3em;
    z-index:2;
}

.news>.news-list {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;/*规定元素纵列*/
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-box-direction:normal;/*规定按正常顺序排列（从左到右）*/
    -moz-box-direction:normal;
    -o-box-direction:normal;
    flex-direction:column;
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.news>.news-list>.commit {
    margin-top:1em;/*1em*/
    list-style:none;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-align:start;/*顶边对齐*/
    -webkit-box-align:start;
    -moz-box-align:start;
    -o-box-align:start;
    align-items:flex-start;
    background:#fff;
    padding:1.5em;/*1.5em*/
    /*过渡效果*/
    transition:box-shadow .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
    -webkit-transition:box-shadow .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
    transition:transform .2s ease,box-shadow .2s ease;
    transition:transform .2s ease,box-shadow .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
    box-shadow: 6px 6px 7px #C4C1C1;
}
@media screen and (max-width: 37.5rem) {
    .news>.news-list>.commit {
        -ms-flex-direction:column;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        flex-direction:column;
        -ms-flex-align:center;
        -webkit-box-align:center;
        -moz-box-align:center;
        -o-box-align:center;
        -ms-grid-row-align:center;
        align-items:center;
        text-align:center;
    }
}
/*缩放*/
.news>.news-list>.commit:hover {
    -moz-transform:scale(1.04);
    -o-transform:scale(1.04);
    -webkit-transform:scale(1.04);
    transform:scale(1.04);
    box-shadow:0 1.25rem 2.5rem -0.625rem rgba(32,32,32,0.15);
}
.news>.news-list>.commit>.profile-picture {
    width:4.625rem;/*2.625rem;*/
}
.news>.news-list>.commit>.profile-picture>img {
    display:block;
    max-width:100%;
    border-radius:.25em;
    padding-top:1.0em;
}
.news>.news-list>.commit>.news-info {
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction:column;
    padding:1.0em 1.5em;/*0 1.5em;*/
}
@media screen and (max-width: 37.5rem) {
    .news>.news-list>.commit>.news-info {
        margin-top:.5em
    }
}
.news>.news-list>.commit>.news-info>.news-title {
    font-size:2.215rem;/*.8125rem;*/
    font-weight:700;
    line-height:1.58;
}
.news>.news-list>.commit>.news-info>.meta {
    font-size:.925rem;/*.625rem;*/
    line-height:1.58;
    margin-top:1em;
    color:#969696;
}
.news>.news-list>.commit>.commit-actions {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center;
    font-size:1.225rem;/*.625rem;*/
    font-weight:600;
    margin-right:1.0em;
}
@media screen and (max-width: 37.5rem) {
    .news>.news-list>.commit>.commit-actions {
        margin-top:1em
    }
}
.news>.news-list>.commit>.commit-actions>.button-group {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center;
    border:.0625rem solid #f7f7f7;
    border-radius:.4em;
    margin-right:1em;
    margin-top: 1.5em;
}
.news>.news-list>.commit>.commit-actions>.button-group>* {
    border-right:.0625rem solid #f7f7f7;
    padding:1.0em 1.2em;
}
.news>.news-list>.commit>.commit-actions>.button-group>:last-of-type {
    border:0;
}
.news>.news-list>.commit>.commit-actions>.button-group>* img {
    width:.875rem;
}
/********** END ：新闻 **********/
/********** 右边第二模块：下载 ********/
.right-2 .download-link{
    margin-top:20px;
}

.right-2 .download-link span{
    padding-right: 10px;
}

.right-2 .download-link a{
    padding:4px 7px;
}

.right-2 .download-link a:hover,
.right-2 .download-link a:focus{
    text-decoration: none;
    background-color:#EF7C78;
    color:#fff;
    box-shadow: 6px 6px 7px #C4C1C1;
}
/******** END ：下载 ********/
/********** 第二部分的标题 ***********/
.model-header{
    margin-top: 150px;
    border-bottom: 1px solid #EBC9C8;
    padding-bottom: 20px;
}
/**************END ：第二部分标题***********/
/************** 八大模块 ***********/
/*鼠标聚焦事件 */
.slide-module:hover,
.slide-module:focus{
    text-decoration: none;
}

.slide-module:hover .bg-1-title,
.slide-module:focus .bg-1-title{
    text-decoration:none;
    font-size: 1.5vw;
}
/*END */
/* 第一排的轮播图版块*/
.bg-1{
    margin-top: 50px;
    height:300px;
    background-color:#fff;
    box-shadow: 6px 6px 7px #C4C1C1;
}
.bg-1-title{
    padding-top: 5px;
    background-color:#2F3130;
    text-align: center;
    height:50px;
    font-size: 1.3vw;
    color:#fff;
}
/*end*/
/*两排的轮播图片*/
.bg-1 .item-bg-1,
.bg-2 .item-bg-2{
    background-size:100% 100%;
    background-repeat: no-repeat;
    height:250px;
    width:100%;
}
/*end*/
/*两排不是轮播图的版块（上排的偶数模块和下排的奇数模块）*/
.bg-1-even,
.bg-2-odd{
    margin-top:50px;
    height:300px;
    box-shadow: 4px 4px 5px #C4C1C1;
    padding: 120px 50px;
}
.bg-1-even{
    background-color:#05D3CD;
    box-shadow: 6px 6px 7px #C4C1C1;
}
.bg-1-even .even-title,
.bg-2-odd .even-title{
    padding-top: 8px;
    text-align: center;
    font-size: 1.8vw;
    color:#fff;
}
.bg-2-odd{
    background-color:#70A7D8;
    box-shadow: 6px 6px 7px #C4C1C1;
}
/*end*/
/*第二排的轮播图模块*/
.bg-2{
    margin-top: 50px;
    margin-bottom: 300px;
    height:300px;
    background-color:#B8BFAF;
    box-shadow: 6px 6px 7px #C4C1C1;
}
/*end*/
/******************* end:八大模块 ****************/

/*1500px分辨率兼容*/
@media screen and (max-width: 1600px) and (min-width: 1204px){
    .bg-1{
        margin-top: 50px;
        height:250px;
        background-color:#fff;
        box-shadow: 6px 6px 7px #C4C1C1;
    }
    .bg-2{
        margin-top: 50px;
        margin-bottom: 250px;
        height:250px;
        background-color:#B8BFAF;
        box-shadow: 6px 6px 7px #C4C1C1;
    }
    .bg-1-even,
    .bg-2-odd{
        margin-top:50px;
        height:250px;
        box-shadow: 4px 4px 5px #C4C1C1;
        padding: 100px 50px;
    }

    .bg-1-title{
        padding-top: 5px;
        height:50px;
    }
    .bg-1 .item-bg-1,
    .bg-2 .item-bg-2{
        height:200px;
    }
    .news>.news-list>.commit>.news-info>.news-title {
        font-size:1.63rem;/*.8125rem;*/
        font-weight:700;
        line-height:1.58;
    }
}
/*end*/
/*1024px分辨率兼容*/
@media screen and (max-width: 1200px){
    .bg-1{
        margin-top: 50px;
        height:200px;
        background-color:#fff;
        box-shadow: 6px 6px 7px #C4C1C1;
    }
    .bg-2{
        margin-top: 50px;
        margin-bottom: 200px;
        height:200px;
        background-color:#B8BFAF;
        box-shadow: 6px 6px 7px #C4C1C1;
    }
    .bg-1-even,
    .bg-2-odd{
        margin-top:50px;
        height:200px;
        box-shadow: 4px 4px 5px #C4C1C1;
        padding: 80px 50px;
    }

    .bg-1-title{
        padding-top: 15px;
        height:50px;
    }
    .bg-1 .item-bg-1,
    .bg-2 .item-bg-2{
        height:150px;
    }
    .news>.news-list>.commit>.news-info>.news-title {
        font-size:1.23rem;/*.8125rem;*/
        font-weight:700;
        line-height:1.58;
    }
    .right-1-content img{
        height:45px;
        width:45px;
    }
}/*end */
/*********************** END : 主页面 **************************/
/******************** 文章页面 *******************/
/******* 左边文章部分 *******/
.sec-1 .left-content{
    margin-top: 100px;
    background-color: #fff;
    box-shadow:6px 6px 10px #C4C1C1;
}
/*文章标题*/
.sec-1 .left-content .title{
    text-align:center;
    padding-top:.75em;
}
/*end*/
.sec-1 .left-content .sec-1-content{
    padding: 50px 50px;
}
/*文章图片*/
.sec-1 .left-content .sec-1-content img{
    width:100%;
    margin-bottom: 20px;
    vertical-align: middle;
    border-radius: 0.3em;
}
/*end*/
/*文章段落*/
.sec-1 .left-content .sec-1-content p{
    color:#222;
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2vw;
}
/*右下角的两个按钮*/
.sec-1 .left-content .sec-1-content ul{
    float:right;
}
/*end*/
/****** 右边模块二 *******/
.right-2 .right-2-content ul,
.sec-1 .left-content .sec-1-content ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.right-2 .right-2-content ul li,
.sec-1 .left-content .sec-1-content ul li{
    display: inline;
}
.right-2 .right-2-content ul li a,
.sec-1 .left-content .sec-1-content ul li a{
    display: inline-block;
    padding:4px 30px;
    background-color: #404040;
    color:#fff;
    border-radius: .7em;
}
.right-2 .right-2-content ul li > a:hover,
.right-2 .right-2-content ul li > a:focus ,
.sec-1 .left-content .sec-1-content ul li > a:hover,
.sec-1 .left-content .sec-1-content ul li > a:focus{
    text-decoration: none;
    background-color: #EF7C78;
    color:#555;
    box-shadow: 6px 6px 7px #F89E9B;
}
/*end*/
/*************** end :文章页面 ***************/
/*************** 老师页面(teacher.html) **************/
.teacher-content{
    margin-top: 100px;
}
/*老师模块*/
.teacher-content .media-tab{
    margin-bottom: 50px;
    box-shadow: 6px 6px 7px #C4C1C1;
}
.teacher-content .media-tab .media-img{
    height:100px;
    width:1800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.teacher-content .media-tab .media-content{
    background-color: #fff;
    padding:20px 30px;
}
.teacher-content .media-tab .media-content button{
    border:0;
    box-shadow: 3px 3px 5px #C4C1C1;
    margin-top: 20px;
}
.teacher-content .media-tab .media-content .media-heading{
    font-size: 1.0vw;
}
.teacher-content .media-tab .media-content p{
    margin-top: 15px;
    line-height: 2em;
}
/*弹出框模块*/
.modal-content .modal-body .modal-img{
    height:600px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.modal-content .modal-body .modal-body-con p{
    text-indent: 2em;
    line-height:1.8em;
    padding:.2em 1em;
}

.modal-myModal{
    width:50%;
}
.modal-myHeader{
    background-color: #F4655F;
}
.modal-myBody{
    background-color: #E2E1E1;
}
/*end */
/***** end：老师模块 *******/
/********* 右边模块二 **********/
.right-2 .right-2-content ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.right-2 .right-2-content ul li{
    display: inline;
}
.right-2 .right-2-content ul li a{
    display: inline-block;
    padding:4px 30px;
    background-color: #2F3130;
    color:#fff;
    border-radius: .7em;
}
.right-2 .right-2-content ul li > a:hover,
.right-2 .right-2-content ul li > a:focus {
    text-decoration: none;
    background-color: #F3726D;
    color:#fff;
}
/********** end : 右边模块二 ***********/
/*1500px分辨率兼容*/
@media screen and (max-width: 1600px) and (min-width: 1200px){
    .modal-content .modal-body .modal-img{
        height:400px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
/*1024px分辨率兼容*/
@media screen and (max-width: 1200px){
    .modal-content .modal-body .modal-img{
        height:400px;
        background-size: 100% 100%;
       background-repeat: no-repeat;
    }
}
/********************* END: 老师页面 ********************/
/*********************** 专业介绍页面 ***********************/
.major-con{
    margin-top:100px;
}
.major-con-article{
    box-shadow:6px 6px 10px #C4C1C1;
    margin-bottom:4em;
    border:5px solid #F0F3F9;
    background-color: #fff;
}
/*图片*/
.major-con .major-con-img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:400px;
    margin:0 30px;
    /*border-top:3px solid #CFCBCB;*/
    position:relative;
}
/*end*/
/*标题*/
.major-con-article .major-name{
    font-size: 1.8vw;
    position:relative;
    margin-left:1.3em;
}
.major-con-article .major-name-line{
    width:93%;
    border:2px solid #F3726D;
}

/*!*end*!*/
/*内容*/
.major-con-article .major-info{
    padding-top:.5em;
}
.major-con-article p,
.major-con-article .major-info{
    text-indent: 2em;
    line-height:1.9em;
    padding-left:2em;
    padding-right:2em;
}
/*end*/
/*********************** END:专业介绍页面 **********************/



